<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p th:text="${msg}"> </p>
	
	<p th:text="${id}"> </p>
	<p th:text="${name}"> </p>
	<p th:text="${price}"> </p>
	
	
	
	
	<table border="1">
		<tr>
			<td>Person Id </td>
			<td>Person Name </td>
			<td>Perosn Age </td>
		</tr>
		
		<tr th:each="person :${persons}">
			<td th:text="${person.id}"> </td>
			<td th:text="${person.name}"> </td>
			<td th:text="${person.age}"> </td>
		</tr>
	</table>
	
</body>
</html>