<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Search Ticket</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-sm  bg-info">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">MakeMyTrip</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active text-light" aria-current="page" href="/">Book Ticket</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="/show-ticket">Get All Ticket</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="/search">Search Ticket</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container" style="width: 50%;">
		<div class="card mt-3 p-4">
			<div class="card p-3 d-flex">
				<form th:action="@{search-ticket}" method="get" class="form mx-auto row">
					<div class="col-8">
						<input type="number" name="id" placeholder="Enter Ticket No."
							class="form-control form-control-sm">
					</div>
					<div class="col-4">
						<input type="submit" value="Search" class="btn btn-sm btn-primary">
					</div>
				</form>
				<div class="card mt-3 p-2">
					<h4 class="text-danger" style="text-align: center;" th:text="${msg}"></h4>
					<table>
						<tr>
							<th>Ticket No. :</th>
							<td class="text-success" th:text="${ticket.ticketNum}"></td>
						</tr>
						<tr>
							<th>Train No.:</th>
							<td class="text-success" th:text="${ticket.trainNum}"></td>
						</tr>
						<tr>
							<th>Passenger Name:</th>
							<td class="text-success" th:text="${ticket.name}"></td>
						</tr>
						<tr>
							<th>Phone No.:</th>
							<td class="text-success" th:text="${ticket.phone}"></td>
						</tr>
						<tr>
							<th>Gender:</th>
							<td class="text-success" th:text="${ticket.gender}"></td>
						</tr>
						<tr>
							<th>From Station :</th>
							<td class="text-success" th:text="${ticket.from}"></td>
						</tr>
						<tr>
							<th>To Station :</th>
							<td class="text-success" th:text="${ticket.to}"></td>
						</tr>
						<tr>
							<th>DOJ :</th>
							<td class="text-success" th:text="${ticket.doj}"></td>
						</tr>
						<tr>
							<th>Ticket Status:</th>
							<td class="text-success" th:text="${ticket.tstatus}"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>

</html>