<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>User Application</title>
</head>
<body>
<div class="container mt-5"></div>
    <h3 th:text="${msg}" class="text-danger"></h3>
    
    <form th:action="@{/user}" th:object="${user}" method="post">
        <table>
            <tr>
                <td>User Id :</td>
                <td>
                    <label>
                        <input type="number" th:field="*{id}" required>
                    </label>
                </td>
            </tr>
            
            <tr>
                <td>User Name :</td>
                <td>
                    <label>
                        <input type="text" th:field="*{name}" required>
                    </label>
                </td>
            </tr>
            
            <tr>
                <td>User Email :</td>
                <td>
                    <label>
                        <input type="email" th:field="*{email}" required>
                    </label>
                </td>
            </tr> <tr>
                <td>
                    <label>
                        <input type="submit" value="Submit" class="btn btn-danger">
                    </label>
                    
                    <label>
                        <a href="/view" class="btn btn-primary text-dark">View User</a>
                    </label>
                </td>
            </tr>
        </table>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>