<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Booking Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-sm  bg-info">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">MakeMyTrip</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active text-light" aria-current="page" href="/">Book Ticket</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="/show-ticket">Get All Ticket</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="/search">Search Ticket</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container" style="width: 100%; height: 100%;">

		<div class="card mt-5 mx-auto p-4" style="width:50%">
			<form th:action="@{/ticket}" th:object="${passenger}" method="post" class="form-group row gap-2 mx-auto"
				style="width:100%;">

				<div class="col-5">
					<labe class="form-label">Passenger Name</labe>
					<input th:field="*{name}" type="text" class="form-control form-control-sm" required>
				</div>

				<div class="col-6">
					<labe class="form-label">Phone No.</labe>
					<input th:field="*{phone}" type="text" class="form-control form-control-sm" required>
				</div>

				<div class="col-5">
					<labe class="form-label">From Station</labe>
					<input th:field="*{from}" type="text" class="form-control form-control-sm" required>
				</div>

				<div class="col-6">
					<labe class="form-label">To Station</labe>
					<input th:field="*{to}" type="text" class="form-control form-control-sm" required>
				</div>

				<div class="col-5">
					<labe class="form-label">Journey Date</labe>
					<input th:field="*{doj}" type="date" class="form-control form-control-sm" required>
				</div>

				<div class="col-6">
					<labe class="form-label">Train No.</labe>
					<input th:field="*{trainNum}" type="text" class="form-control form-control-sm" required>
				</div>

				<div class="col-5">
					<label class="form-label form-label-sm">Gender</label>
					<select th:field="*{gender}" class="form-select form-select-sm" required>
						<option value="">-select-</option>
						<option value="male">Male</option>
						<option value="Female">Female</option>
					</select>
				</div>
				<div class="col mt-4">
					<button type="submit" class="btn btn-sm btn-success">Book Ticket</button>
				</div>
			</form>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>

</html>